// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-tab-bar-background: #08666e; /* Color de fondo de la barra de pestañas */
    --ion-tab-bar-color:  #faf6ea; /* Color de los íconos y texto cuando están inactivos */
    --ion-tab-bar-color-selected: rgb(0, 255, 242); /* Color de los íconos y texto cuando están activos */
}
