<ion-header [translucent]="true">
  <ion-toolbar>
    <app-company-name [companyName]="'Delicias Los Lagos'"></app-company-name>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="tracking-in-expand">Registro</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true"> <!-- define el area principal donde se muestra los elementos de la pagina -->
  <ion-card> <!-- Se utilizan para estilizar la forma de registro, dando una apariencia organizada y estructurada -->
    <ion-card-content> <!-- Encierran el formulario de registro -->
      <form>
          
        <ion-item> <!-- Para agrupar etiquetas e inputs -->
          <ion-label position="floating">Nombre</ion-label> <!-- Componente de entrada de datos, uno para nombre -->
          <ion-input type="text" [(ngModel)]="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="text" [(ngModel)]="apellido"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nombre de Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="usuario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Correo Electronico</ion-label> <!-- Componente de entrada de datos, uno para correo -->
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Tipo de Cliente</ion-label>
          <ion-select [(ngModel)]="tipo_cliente">
            <ion-select-option value="Normal">Cliente Normal</ion-select-option>
            <ion-select-option value="Empresarial">Cliente Empresarial</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Primera Compra</ion-label>
          <ion-item>
            <mat-form-field>
              <mat-label>dd/mm/yyyy</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="primera_compra">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> <!-- componente de angular material, se utiliza para estructura del campo de fecha-->
              <mat-datepicker #picker></mat-datepicker> <!-- componente de angular material, se utiliza para seleccionar una fecha-->
            </mat-form-field>
          </ion-item>
        </ion-item>
      </form>
    </ion-card-content>
    <ion-button (click)="guardar()" expand="block" fill="clear">Registrarme</ion-button> <!-- que ejecuta la función guardar() desde el componente TypeScript -->
  </ion-card>
</ion-content>